<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
  </head>
  <body>
    <div class = "header">
      <h1> <a href = "#blb"> {{title}} </a></h1> 
    </div>
    <br> <br>
    <div class = "polaroid">
      <img src = {{pic0url}}> <br> <br>
      <div class = "container" id = "blb">
	<p> {{exp}}</p>
      </div>
    </div>
    <div class = "footer">
      Copyright: {{c}}, Date: {{d}}
    </div>
  </body>
</html>
